{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Add Book {% endblock %}

{% block body %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <script>
        showToast("{{ message }}", "{{ category }}");
    </script>
    {% endfor %}
    {% endwith %}
    <div>
        <div class="col-md-12 text-center">
            <h1> Books List</h1>
        </div>
    </div>
    <div>
        <table class="table">
            <thead style="background-color: brown; color: aliceblue;">
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
            </thead>

            <tbody>
                {% for bulkybooks in bulkybooks %}
                <tr>
                    <td>{{ bulkybooks[0] }}</td>
                    <td>{{ bulkybooks[1] }}</td>
                    <td>{{ bulkybooks[2] }}</td>
                    <td>{{ bulkybooks[3] }}</td>
                    <td>{{ bulkybooks[4] }}</td>
                    <td>{{ bulkybooks[5] }}</td>
                    <td>{{ bulkybooks[6] }}</td>
                    <td>
                        <a href="/edit/{{ bulkybooks[0] }}" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        &nbsp;
                        <a href="/delete/{{ bulkybooks[0] }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}